[Unit]
Description=Does the daily snapshot.

[Service]
Type=oneshot
StandardOutput=journal
StandardError=journal
ExecStart=zfsnap snapshot -a2w -p zfsnap %I
