[Unit]
Description=Snapshots once a week on Sundays.
After=zfs-mount.service

[Timer]
# Every Sunday at three in the morning except
# when a Sunday is the first in the month.
OnCalendar=Sun *-*-2..31 03:00:00
Persistent=True

[Install]
WantedBy=zfs.target
